body {
    font-family: Arial, sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

section {
    padding: 60px 0;
}

#about {
    background-color: #f8f9fa;
}

.card:hover {
    transform: scale(1.05);
}

.container {
    max-width: 1200px;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
}

/* Swiper Styles */
.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card Styles */
.card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.cert-logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

/* Navigation Buttons */
.swiper-button-prev,
.swiper-button-next {
    color: #000; /* Button color */
}

.swiper-pagination-bullet {
    background-color: #000; /* Pagination dots color */
}

@keyframes scroll-left {
    from {
        transform: translateX(100%); 
    }
    to {
        transform: translateX(-100%); /* End off-screen to the left */
    }
}
