body {
    font-family: Arial, sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

section {
    padding: 60px 0;
}

#about {
    background-color: #f8f9fa;
}

.card {
    transition: transform 0.3s;
    border: 1px solid #ddd;
    border-radius: 8px; 
    padding: 20px;
    text-align: center; 
}

.card:hover {
    transform: scale(1.05);
}

.certification-slider-wrapper {
    overflow: hidden;
    width: 100%; 
    position: relative; 
}

.certification-slider {
    display: flex; 
    transition: transform 0.5s ease;
}

.certification-item {
    min-width: 300px;
    margin: 0 10px; 
}

@keyframes scroll-left {
    from {
        transform: translateX(100%); 
    }
    to {
        transform: translateX(-100%); /* End off-screen to the left */
    }
}
